.wrap {
  width: 100vw;
  height: 75vh;
  padding: 0;
  overflow: hidden;
}

.frame {
  width: 133vw;
  height: 100vh;
  border: none;
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
}

.w3-container {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}